*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
#main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
}
h2{
    font-size: 24px;
    text-align: center;
}
h3{
    font-size: 16px;
    text-align: center;
    padding-bottom: 16px;
}
span{
    font-size: 16;  
    padding-bottom: 8px;
}
.top-info{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 50%;
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;

}
img{
    object-fit: cover;
    height: 400px;
    padding:16px;
}